<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Connexion</title>
    <%- include('general/navigation'); %>
</head>


<body>

<div class="">
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="guillaume" multiple>
        <input type="submit" value="Upload">
    </form>
</div>
</div>




</body>

</html>