<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Connexion</title>
    <%- include('general/navigation'); %>
</head>


<body>

<input type="text" id="test" value="Non">




</body>
<script>
    $(document).ready(function () {
        $('#test').click(function () {
            var b = document.getElementById("test");
            b.className = "btn btn-danger"
        })
    })
</script>
</html>