<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil du site</title>
    <%- include('general/navigation'); %>
</head>


<body>

<div class="text-center">
    <h1>Bienvenue sur le site de la charcuterue "De la crête aux pieds"</h1>

    <table class="table">
        <tbody>
            <tr>
                <td><img src="/public/images/etalage_1.jpg" width="500" alt="Reponsive image"></td>
                <td><img src="/public/images/etalage_2.jpg" width="500" alt="Reponsive image"></td>
            </tr>
            <tr>
                <td><img src="/public/images/etalage_3.jpg" width="500" alt="Reponsive image"></td>
                <td><img src="/public/images/etalage_4.jpg" width="500" alt="Reponsive image"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>