<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil du site</title>
    <%- include('general/navigation'); %>
</head>


<body>

<table class="table">
    <tbody>
    <tr>
        <td><img src="/public/images/etalage_1.jpg" class="img-fluid" alt="Reponsive image"></td>
        <td><img src="/public/images/etalage_2.jpg" class="img-fluid" alt="Reponsive image"></td>
    </tr>
    <tr>
        <td><img src="/public/images/etalage_3.jpg" class="img-fluid" alt="Reponsive image"></td>
        <td><img src="/public/images/etalage_4.jpg" class="img-fluid" alt="Reponsive image"></td>
    </tr>
    </tbody>
    
</table>

</body>
</html>