<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil du site</title>
    <%- include('general/navigation'); %>
</head>


<body>

Salut


</body>
<script>
</script>
</html>