<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Connexion</title>
    <%- include('general/navigation'); %>
</head>


<body>

<div class="">
    <p>Accueil du site</p>
</div>
</div>




</body>

</html>