<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page introuvable</title>
    <%- include('general/navigation'); %>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <style>
        #erreur {
            font-size: 150px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>

<div id="erreur">
    Page introuvable
</div>
</body>
</html>