<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Connexion</title>
    <%- include('general/navigation'); %>
</head>


<body>

<div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <br>
    <% if (error !== undefined) { %>
        <div class="alert alert-danger text-center" role="alert">
            <%= error %>
        </div>
    <% } %>

<form method="post" action="/users/login">

    <div class="form-group">
        <label for="mail">Mail</label> :
        <input type="email" class="form-control" name="mail" id="mail" value="<% if (mail !== undefined) { %>
        <%= mail %>
        <% } %>" required />
    </div>

    <div class="form-group">
        <label for="password">Mot de passe</label> :
        <input type="password" class="form-control" name="password" id="password" required />
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Se connecter">
    </div>
</form>
</div>
<br>
<div class="text-center">
    <a class="btn btn-secondary" href="/users/inscription">Pas de compte ? Inscrivez-vous !</a>
</div>




</body>

</html>