<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Détails du produit</title>
</head>


<body>

<%= locals.message %>
</body>

</html>