<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

<a href="/users/admin/list_users" class="btn btn-danger">Supprimer des utilisateurs</a>
<a href="/users/admin/vendeur_create" class="btn btn-success">Créer un vendeur</a>

</body>

</html>