<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil admin</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

<p>Je suis admin</p>

</body>

</html>