<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil admin</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

<a href="#" class="btn btn-danger">Supprimer des utilisateurs</a>
<a href="#" class="btn btn-warning">Supprimer des commandes </a>
<a href="#" class="btn btn-success">Créer un vendeur</a>
<a href="#" class="btn btn-secondary">Lien de la base de données</a>

</body>

</html>