<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Liste des produits</title>
    <%- include('../general/navigation', {estConnecte: 0}); %>
</head>


<body>

<% for (var i = 0; i < produits.length; i += 3) { %>
    <div class="container row">
        <div class="col">
            <img src="/public/images/produits/<%= produits[i].photo_produit %>" width="200" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col">
            <img src="/public/images/produits/<%= produits[i+1].photo_produit %>" width="200" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col">
            <img src="/public/images/produits/<%= produits[i+2].photo_produit %>" width="200" class="img-fluid" alt="Responsive image">
        </div>
        <div class="w-100"></div>
    </div>
<% } %>


</body>

</html>