<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Liste des produits</title>
    <%- include('../general/navigation', {estConnecte: 0}); %>
</head>


<body>

Salut


</body>

</html>