<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil vendeur</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

    <a href="/users/vendeur/commande_search" class="btn btn-primary">Consulter les commandes</a>
    <a href="/users/vendeur/infos_clients" class="btn btn-primary">Consulter les infos client</a>
    <a href="/users/vendeur/produit_create" class="btn btn-secondary">Ajouter un produit</a>
    <a href="/users/vendeur/produit_manage" class="btn btn-secondary">Gérer les produits</a>

</body>

</html>