<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Mes commandes</title>
    <%- include('../../general/navigation', {estConnecte: 1}); %>
</head>


<body>

<div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <% for (var i = 0; i < commandes.length; i++) { %>

    <% } %>
</div>


</body>

</html>