<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil client</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

    <a href="#" class="btn btn-secondary">Consulter mes commandes en cours</a>
    <a href="/users/client/commandes" class="btn btn-warning">Consulter mes commandes</a>

</body>

</html>