<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Accueil client</title>
    <%- include('../../general/navigation', {estConnecte : 1}); %>
</head>


<body>

<div class="text-right">
    <a href="#" class="btn btn-primary">Consuler mes commandes</a>
</div>
<div class="text-center">
    <a href="#" class="btn btn-secondary">Consuler mes commandes en cours</a>
</div>

<div class="text-right">
    <a href="#" class="btn btn-warning">Consuler mes commandes</a>
</div>

</body>

</html>